[project]
	description = algo code for cousera algorithm design and analysis
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Xingyu Chen (WIZARD-CXY)
[access "refs/for/refs/*"]
	read = group user/Xingyu Chen (WIZARD-CXY)
	push = group user/Xingyu Chen (WIZARD-CXY)
	label-Code-Review = -2..+2 group user/Xingyu Chen (WIZARD-CXY)
	label-Verified = -1..+1 group user/Xingyu Chen (WIZARD-CXY)
	rebase = group user/Xingyu Chen (WIZARD-CXY)
	removeReviewer = group user/Xingyu Chen (WIZARD-CXY)
	submit = group user/Xingyu Chen (WIZARD-CXY)
[access "refs/heads/*"]
	read = group user/Xingyu Chen (WIZARD-CXY)
	create = group user/Xingyu Chen (WIZARD-CXY)
	push = +force group user/Xingyu Chen (WIZARD-CXY)
	pushMerge = group user/Xingyu Chen (WIZARD-CXY)
[access "refs/tags/*"]
	push = +force group user/Xingyu Chen (WIZARD-CXY)
	pushTag = group user/Xingyu Chen (WIZARD-CXY)
	pushSignedTag = group user/Xingyu Chen (WIZARD-CXY)
